@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --color-emerald-800: #065f46;
  --color-emerald-700: #047857;
}

@utility dark {
  @media (prefers-color-scheme: dark) {
    & {
      color-scheme: dark;
    }
  }
}

@variant dark (&:where(.dark, .dark *));

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;

  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 150, 200);
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: fuchsia;
}
