@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --color-emerald-800: #065f46;
  --color-emerald-700: #047857;
}

@utility dark {
  @media (prefers-color-scheme: dark) {
    & {
      color-scheme: dark;
    }
  }
}

@variant dark (&:where(.dark, .dark *));
